.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 30px;
  padding-top: 75px;

  @media (max-width: 800px) {
    padding-left: 0;
  }
}

.heading {
  @media (max-width: 800px) {
    margin-bottom: 50px !important;
  }
}

.projectBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  animation: glowing 4s infinite;
  transition: background-color 200ms;
}

@keyframes glowing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.projects {
  display: flex;
  justify-content: space-between;

  --visual-width: 720px;
  --visual-height: calc(var(--visual-width) / 1.6);

  @media (max-width: 1335px) {
    --visual-width: 50vw;
  }
  @media (max-width: 900px) {
    --visual-width: 49vw;
  }
  @media (max-width: 850px) {
    --visual-width: 45vw;
  }

  @media (max-width: 800px) {
    flex-direction: column-reverse;
  }
}

.descriptions {
  width: 40%;

  & > * {
    padding: 100px 0;
  }

  @media (max-width: 1000px) {
    width: 42%;
  }

  @media (max-width: 850px) {
    width: 45%;
  }

  @media (max-width: 800px) {
    width: 100%;
  }
}

.projectsCount {
  font-size: 17px;
  position: fixed;
  bottom: 25px;
  right: 40px;

  & > span {
    margin-right: 1px;
  }
}

.progressBarWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.progressBar {
  --gap: 7px;
  height: 31px;
  margin-left: auto;
  margin-right: auto;
  padding: 9px;
}

.mobileBackgroundGlow {
  --rgb: 0, 0, 0;
  background-image: radial-gradient(rgba(var(--rgb), 0.3), rgb(var(--rgb-bg)));
  position: fixed;
  width: 75%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}
