.button {
  --color: #fff;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-weight: 400;
  background: none;
  color: var(--color);
  border: 1px solid var(--color);
  padding: 0.5em 0.7em;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 125ms, color 125ms;

  &:hover:not(:disabled),
  &:focus-visible    {
    background-color: var(--color);
    color: #000;
  }

  &.loading {
    position: relative;
    color: rgba(0, 0, 0, 0) !important;
  }

  &:disabled {
    cursor: default;
  }
}

.loadingSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7em;
}
