.backgroundGlow {
  --rgb: var(--rgb-primary);
  --width: 400px;
  --height: 400px;

  position: fixed;
  top: calc(var(--height) / 2 * -1);
  left: calc(var(--width) / 2 * -1);
  background-image: radial-gradient(rgba(var(--rgb), 0.35), rgb(0, 0, 0, 0));
  width: var(--width);
  height: var(--height);
  z-index: -2;
  opacity: 1;
  transition: opacity 200ms;

  &.fadeOut {
    opacity: 0;
    transition: opacity 3000ms;
  }
}
