.container {
  margin-top: 200px;

  @media (max-width: 925px) {
    font-size: 14.5px;
  }
  @media (max-width: 850px) {
    font-size: 13.5px;
  }
  @media (max-width: 775px) {
    font-size: 14.5px;
  }
  @media (max-width: 390px) {
    font-size: 14px;
  }
  @media (max-width: 375px) {
    font-size: 13.5px;
  }
  @media (max-width: 335px) {
    font-size: 12.5px;
  }
}

.contactWrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;

  @media (max-width: 775px) {
    flex-direction: column;
    align-items: center;
  }
}

.subWrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
  max-width: 480px;

  @media (max-width: 775px) {
    width: 97%;
    margin-bottom: 50px;
  }
}

.subHeading {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 11px;

  &Socials {
    margin-top: auto;

    @media (max-width: 775px) {
      margin-top: 70px;
    }
  }
}

.subParagraph {
  margin-bottom: 2.5em;
  color: rgba(var(--rgb-text), 0.75);
}

.or {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;

  &::before,
  &::after {
    content: '';
    background-color: rgba(var(--rgb-primary), 0.4);
    width: 1px;
    height: 100%;
  }

  &::before {
    margin-bottom: 1em;
  }
  &::after {
    margin-top: 1em;
  }

  @media (max-width: 775px) {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.label {
  margin-bottom: 7px;
  color: rgba(var(--rgb-text), 1);
}

.field {
  width: 100%;
  margin-bottom: 24px;
  font-size: 1.2em !important;

  @media (max-width: 375px) {
    font-size: 16px !important;

    &Copy {
      font-size: 1.1em !important;
    }
  }

  @media (max-width: 335px) {
    &Copy {
      font-size: 1em !important;
    }
  }
}

.message {
  font-weight: 300;
  font-size: 1.1em;
  min-height: 35px;

  &Error {
    color: rgb(var(--rgb-error));
  }

  &Success {
    color: rgb(var(--rgb-text));
  }
}

.button {
  display: block;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  width: 100%;
  --color: rgb(var(--rgb-primary));
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(var(--rgb-primary), 0.5);
  margin-top: auto;

  @media (max-width: 775px) {
    display: none;
  }
}

.githubButton {
  margin-top: 12px;
}
