.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: rgb(19, 21, 33);
  border-bottom: 1px solid rgba(var(--rgb-primary), 0.2);
  z-index: 10;
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1000px) {
    font-size: calc(1vw + 0.3em);
  }
  @media (max-width: 600px) {
    font-size: 11px;
  }
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.resumeButton {
  height: 70%;

  @media (max-width: 675px) {
    font-size: 1.1em !important;
    height: 63%;
  }
}
