.copyright {
  text-align: center;
  background-color: rgba(var(--rgb-primary), 0.04);
  border-top: 1px solid rgba(var(--rgb-primary), 0.3);
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  font-size: 0.9rem;
}
