.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  @media (max-width: 575px) {
    flex-direction: column;
    margin-top: 50px;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  position: relative;
  flex-shrink: 0;

  &::before {
    content: '';
    position: absolute;
    top: -150px;
    right: -150px;
    bottom: -150px;
    left: -150px;
    background-image: radial-gradient(
      rgba(var(--rgb-primary), 0.4),
      rgb(var(--rgb-bg))
    );
    z-index: -2;
  }

  @media (max-width: 1300px) {
    font-size: calc(1vw + 0.1em);
  }
  @media (max-width: 575px) {
    font-size: 11px;
    text-align: center;
    width: 100%;

    &::before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  @media (max-width: 500px) {
    font-size: calc(1vw + 0.35em);
  }
  @media (max-width: 420px) {
    font-size: calc(1vw + 0.3em);
  }
  @media (max-width: 345px) {
    font-size: calc(1vw + 0.25em);
  }
  @media (max-width: 300px) {
    font-size: calc(1vw + 0.2em);
  }
  // @media (max-width: 375px) {
  //   font-size: 8px;
  // }
}

.heading {
  font-size: 5em;
  font-weight: 300;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 1);
  line-height: 1.2;
  word-spacing: -0.25em;

  &Span {
    display: block;
  }

  &Name {
    font-weight: 800;
    color: rgb(var(--rgb-primary));

    @supports (text-shadow: #fff 0 0 0) {
      text-shadow: rgb(var(--rgb-primary)) 0px 0px 3px,
        rgb(var(--rgb-primary)) 0px 0px 3px, rgb(var(--rgb-primary)) 0px 0px 3px,
        rgb(var(--rgb-primary)) 0px 0px 3px, rgb(var(--rgb-primary)) 0px 0px 3px,
        rgb(var(--rgb-primary)) 0px 0px 3px;
      color: rgba(var(--rgb-bg), 0.9);
    }
  }
}

.paragraph {
  font-weight: 200;
  margin-top: 1.212121212em;
  font-size: 2.0625em;
  line-height: 1.75;
  word-spacing: 0.363636364em;

  &Span {
    display: block;
  }
}

.bold {
  font-weight: 800;
}

.socialsWrapper {
  display: flex;
  margin-top: 4.5em;
}

.socialButton {
  @media (max-width: 1000px) {
    font-size: 1.35em;
  }

  &Github {
    margin-right: 0.6em;
  }
}
