.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  @media (max-width: 575px) {
    flex-direction: column;
    margin-top: 50px;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  position: relative;
  flex-shrink: 0;

  &::before {
    content: '';
    position: absolute;
    top: -150px;
    right: -150px;
    bottom: -150px;
    left: -150px;
    background-image: radial-gradient(
      rgba(var(--rgb-primary), 0.5),
      rgb(var(--rgb-bg))
    );
    z-index: -2;
    opacity: 0;
    animation: textWrapperBackgroundGlowFirst 1000ms ease 1500ms forwards,
      textWrapperBackgroundGlowSecond 5000ms ease 2500ms infinite;
  }

  @media (max-width: 1300px) {
    font-size: calc(1vw + 0.1em);
  }
  @media (max-width: 575px) {
    font-size: 11px;
    text-align: center;
    width: 100%;

    &::before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  @media (max-width: 500px) {
    font-size: calc(1vw + 0.35em);
  }
  @media (max-width: 420px) {
    font-size: calc(1vw + 0.3em);
  }
  @media (max-width: 345px) {
    font-size: calc(1vw + 0.25em);
  }
  @media (max-width: 300px) {
    font-size: calc(1vw + 0.2em);
  }
}
@keyframes textWrapperBackgroundGlowFirst {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes textWrapperBackgroundGlowSecond {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.heading {
  font-size: 5em;
  font-weight: 300;
  text-shadow: 0 6px 6px rgba(0, 0, 0, 1);
  line-height: 1.2;
  word-spacing: -0.25em;
  animation: fadeIn 500ms forwards;

  &Span {
    display: block;
  }

  &Name {
    font-weight: 800;
    color: rgb(var(--rgb-primary));
    position: relative;

    @supports (text-shadow: #fff 0 0 0) {
      &Neon {
        text-shadow: rgb(var(--rgb-primary)) 0px 0px 3px,
          rgb(var(--rgb-primary)) 0px 0px 3px, rgb(var(--rgb-primary)) 0px 0px 3px,
          rgb(var(--rgb-primary)) 0px 0px 3px, rgb(var(--rgb-primary)) 0px 0px 3px,
          rgb(var(--rgb-primary)) 0px 0px 3px;
        color: rgba(var(--rgb-bg), 0.9);
        opacity: 0;
        animation: opacityFadeIn 750ms ease 1500ms forwards;
      }

      &::before {
        content: 'Luka';
        position: absolute;
        text-shadow: none;
        animation: opacityFadeOut 750ms ease 1500ms forwards;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.paragraph {
  font-weight: 200;
  margin-top: 1.212121212em;
  font-size: 2.0625em;
  line-height: 1.75;
  word-spacing: 0.363636364em;
  opacity: 0;
  animation: fadeIn 500ms ease 500ms forwards;

  &Span {
    display: block;
  }
}

.bold {
  font-weight: 800;
}

.socialsWrapper {
  display: flex;
  margin-top: 4.5em;
  opacity: 0;
  animation: fadeIn 500ms ease 1000ms forwards;
}

.socialButton {
  @media (max-width: 1000px) {
    font-size: 1.35em;
  }

  &Github {
    margin-right: 0.6em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes opacityFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
